.nav {
  width: 100%;

  background-color: rgb(207, 194, 168);
}
.container {
  display: flex;
  max-width: 1200px;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  display: block;
  font-size: 24px;
  padding: 10px;
  color: black;
}
.active {
  color: rgb(150, 2, 2);
  text-decoration: underline;
}
